# MongoDB Connection String
# Local MongoDB example:
MONGODB_URI=mongodb://127.0.0.1:27017/maktub

# MongoDB Atlas (Cloud) example:
# MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.abcde.mongodb.net/maktub?retryWrites=true&w=majority
